@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Kollektif";
  src: url("/fonts/Kollektif-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("/fonts/BeVietnamPro-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Kollektif", "Be Vietnam Pro";
}

p,
input,
textarea {
  font-family: "JetBrains Mono";
}
